
<div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-grid-alt"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">Dental Finder</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/clinic/homepage" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Homepage</span>
                    </a>
                </li>   
                <li class="sidebar-item">
                    <a href="/clinic/profile" class="sidebar-link">
                        <i class="lni lni-ticket-alt"></i>
                        <span>Profile</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/clinic/services" class="sidebar-link">
                        <i class="lni lni-book"></i>
                        <span>Services</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/clinic/branches" class="sidebar-link">
                        <i class="lni lni-users"></i>
                        <span>Branches</span>
                    </a>
                </li>                
                <li class="sidebar-item">
                    <a href="/clinic/transactions" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Transactions <span class="badge text-bg-danger">7</span></span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="../login/clinic_logout.php" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>