
<div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                <div class="sidebar-logo">
                    <a href="/clinic/homepage">Homepage</a>
                </div>
            </button>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="/admin/clinic-data" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>Clinics Data</span>
                    </a>
                </li>   
                <li class="sidebar-item">
                    <a href="/admin/patient-data" class="sidebar-link">
                        <i class="lni lni-ticket-alt"></i>
                        <span>Patients Data</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/admin/settings" class="sidebar-link">
                        <i class="lni lni-book"></i>
                        <span>Settings</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/clinic/transactions" class="sidebar-link">
                        <i class="lni lni-users"></i>
                        <span>Transactions</span>
                    </a>
                </li>                
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="lni lni-popup"></i>
                        <span>Settings<span class="badge text-bg-danger">7</span></span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="../login/clinic_logout.php" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Logout</span>
                </a>
            </div>
        </aside>